<h1><%= @library.name %></h1>
<p>City: <%= @library.city %></p>
<p>Opening Time: <%= @library.opening_time %></p>
<p>Closing Time: <%= @library.closing_time %></p>
<p>Book Available: <%= @library.book_available %></p>