<h1><%= @library.name %></h1>
<p>City: <%= @library.city %></p>
<p>Opening Time: <%= @library.opening_time %></p>
<p>Closing Time: <%= @library.closing_time %></p>
<p>Book Available: <%= @library.book_available %></p>

<p><%= link_to "Books at this Library", "/libraries/#{@library.id}/books" %></p>
<p><%= button_to "Edit Library", "/libraries/#{@library.id}/edit", method: :get %></p>
<p><%= button_to "Delete Library", "/libraries/#{@library.id}", method: :delete %></p>