<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<p>Fiction: <%= @book.fiction %></p>
<p>Number of Copies: <%= @book.number_of_copies %></p>
<p><%= button_to "Edit Book", "/books/#{@book.id}/edit", method: :get %></p>
<p><%= button_to "Delete Book", "/books/#{@book.id}", method: :delete %></p>